$white: #FFFFFF;
$black: #000000;
$gray: #A7A2A3;

$dark-violet: #321154;
$green: green;
$project1: #F9EAD7;
$project2: #EAB849;
$project3: #91CCF7;
$project4: #D0D0D5;

// Fonts:
$font: 'Klee One', cursive;
