@use './styleUtils/variables' as v;
@use './styleUtils/mixins' as m;

.connect {
  @include m.section-background;
  @include m.flex-column-center;
  color: v.$white;
}

#connect {
  @include m.section;
  background-image: url('../assets/circles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.connect-par {
  @include m.flex-column-center;
}

.connect-p {
  margin: 2%;
  text-align: center;
  font-size: 2em; 
}

.inline-li {
  margin: 0% 1%;
  color: v.$white;
}
