@use './variables' as v;
@use './mixins' as m;

// .home {
//     // border: 2px solid red;
//     height: 50vh;
//     width: 50vw;
//     position: fixed;
//     top: 7vh;
//     left: 3vw;
//     // background-image: url('../assets/shape.png');
//     // background-color: v.$honey-yellow;
//     border-radius: 5px;

//     z-index: 2;
//     // background-image: url('../assets/pens4.png');
//     background-size: contain;
//     background-repeat: no-repeat;
// }

.square {
    // border: 2px solid green;
    height: 25vh;
    width: 45vw;
    position: fixed;
    top: 7vh;
    left: 1vw;
    border-radius: 5px;
    background-color: v.$cadet-blue;
    opacity: 0.2;
    z-index: 1;

}

.square2 {
    // border: 2px solid green;
    height: 25vh;
    width: 45vw;
    position: fixed;
    top: 30vh;
    left: 6vw;
    border-radius: 5px;
    background-color: v.$cadet-blue;
    opacity: 0.4;
    z-index: 1;

}

.home-name {
    // border: 2px solid orange;
    width: 50vw;
    text-align: baseline;
    position: fixed;
    top: 10vh;
    left: 2vw;
    animation-name: slidein-name;
    animation-duration: 3s;
    font-size: 5em;
    color: v.$black;
    opacity: 0.8;
    z-index: 2;
}

.home-title {
    // border: 2px solid green;
    width: 50vw;
    text-align: baseline;
    position: fixed;
    top: 24vh;
    left: 7vw;
    font-size: 4em;
    color: v.$plum;
    // opacity: 0.8;
    animation-name: slidein-title;
    animation-duration: 3s;
    z-index: 2;
}

.amk {
    width: 20vw;
    border-radius: 50%;
    position: fixed;
    top: 27vh;
    left: 40vw;
    animation-name: fadein;
    animation-duration: 4.5s;
}

.home-links {
    // border: 2px solid green;
    position: fixed;
    top: 70vh;
    left: 35vw;
    width: 30vw;
    height: 10vh;
    display: flex; 
    justify-content: center;
}

@keyframes slidein-name {
    from {
        position: fixed;
        top: 10vh;
        left: 100vw;
    }

    to {
        position: fixed;
        top: 10vh;
        left: 2vw;
    }
}

@keyframes slidein-title {
    from {
        position: fixed;
        top: 100vh;
        left: 5vw;
    }

    to {
        position: fixed;
        top: 24vh;
        left: 7vw;
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}