@use './variables' as v;
@use './mixins' as m;

.navbar {
    z-index: 2;
    position: fixed;
    top: 5vh;
    right: 0;
    width: 12vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // border: 2px solid orange;
}

.navlink {
    background-color: v.$plum;
    border: 2px solid v.$plum;
    border-radius: 50%;
    color: v.$white;
    font-family: v.$font;
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // border: 2px solid red;
}

.navlink:hover {
    animation-name: spin;
    animation-duration: 1.5s;
}

.active {
    background-color: inherit;
    border: 2px solid v.$light-gray;
    border-radius: 50%;
    cursor: default;
    background-color: inherit;
    background-image: url('../assets/pin.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: v.$plum;
}

@keyframes spin {
    from {
        transform: rotateY(0deg)
    }

    to {
        transform: rotateY(360deg)
    }
}