@use './variables' as v;
@use './mixins' as m;

.nav-btn {
    border: none;
    border-radius: 50%;
    background-color: v.$plum;
    color: v.$white;
    font-family: v.$font;
    width: 8vw;
    padding: 3%;
    border: 5px solid v.$plum;
}

.nav-icon {
    font-size: 3em;
    margin-top: 1vw;
}


.nav-text {
    margin: 0% 0% 1vw 0%;
}

.nav-btn:hover {
    cursor: pointer;
    color: v.$honey-yellow;
    // border: 5px solid v.$honey-yellow;
    // filter: drop-shadow(0px 0px 10px v.$honey-yellow);
}