@use './styleUtils/variables' as v;
@use './styleUtils/mixins' as m;

.section {
  @include m.section
}

#story {
  @include m.flex-column-center;
  border: 5px dotted v.$dark-violet;
  color: v.$dark-violet;
}

.section-header {
  @include m.flex-row-center;
  @include m.heading;
}

.par-1, .par-2 {
  // border: 2px solid orange;
  width: 95%;
  display: flex;
  line-height: 1.45;
}

.par-1 {
  height: 30%;
}

.par-2 {
  height: 40%;
}

.profile-pic {
  border-radius: 50%;
  height: 100%;
}

.profile-pic {
  margin-right: 3%;
}

.grad-pic {
  margin-left: 3%;
}

.par-text {
  margin-top: 3%;
}

.p {
  margin-bottom: 10px;
  font-weight: 600;
}

.ipa {
  font-family: sans-serif;
  font-weight: 400;
}

