@use './styleUtils/variables' as v;
@use './styleUtils/mixins' as m;

.toggle-container {
    background-color: v.$dark-violet;
    color: v.$white;
    border-radius: 10px;
    @include m.flex-column-center;
    justify-content: center;
    height: 95%;
    width: 35%;
    margin: 0% 2%;
    font-size: .75em;
    font-weight: 400;
}
    .toggle-switch {
        @include m.flex-row-center;
        margin: 1%;
        position: relative;
        height: 35px;
        width: 100px;
    }
        .checkbox {
            display: none;
        }
        .label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid v.$gray;
            border-radius: 20px;
        }
        .inner {
            @include m.flex-row-center;
            height: 100%;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }
            .inner:before,
            .inner:after {
                float: left;
                width: 50%;
                padding: 0;
                color: v.$white;
                font-weight: bold;
                box-sizing: border-box;
            }
            .inner:before {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                content: "On";
                padding-left: 10px;
                background-color: v.$green;
                color: v.$white;
                font: v.$font;
            }
            .inner:after {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                content: "Off";
                padding-right: 10px;
                background-color: v.$gray;
                color: v.$white;
                text-align: right;
                font: v.$font;
            }
    .switch {
        display: block;
        width: 24px;
        margin: 5px;
        background: v.$white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0%;
        border: 0 solid v.$gray;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
        margin-left: 0;
    }
    .checkbox:checked + .label .switch {
        left: 60%;
    }
    