// Basic / Photo colors:
$dark-green: #0D2D36;
$dark-blue: #263B62;
$gray: #A7A2A3;
$white: #FFFFFF;
$black: #000000;

// Color palette 1:
$red-orange: #FB5012;
$aqua: #68EDC6;
$saffron: #EAC435;
$pacific-blue: #00B2CA;
$dark-pink: #AF3B6E;

// Color palette 2:
$honey-yellow: #FDB833;
$cadet-blue: #38A3A5;
$rose: #D90368;

// pens
$plum: #802070;
$lime: #61E65A;

// Fonts:
$font: 'Klee One', cursive;

$green: green;
$light-gray: #E8E9EB;